.search-bar-container {
  background-color: #376058;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-input-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: #2e4a43;
  color: #fff;
  font-size: 16px;
}

.search-results {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 10px;
}

.search-results::-webkit-scrollbar {
  width: 10px;
}

.search-results::-webkit-scrollbar-track {
  background: #2e4a43;
  border-radius: 10px;
}

.search-results::-webkit-scrollbar-thumb {
  background-color: #8fd6b3;
  border-radius: 10px;
  border: 2px solid #2e4a43;
}

.search-results::-webkit-scrollbar-thumb:hover {
  background-color: #4e9d84;
}

.search-results {
  scrollbar-width: thin;
  scrollbar-color: #8fd6b3 #2e4a43;
}

.search-result-item {
  padding: 10px;
  background-color: #3b6b5b;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-result-item p {
  margin: 0;
  font-size: 16px;
}

.chat-button {
  padding: 8px 15px;
  background-color: #8fd6b3;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #204e45;
  transition: background-color 0.3s, color 0.3s;
  font-size: 14px;
}

.chat-button:hover {
  background-color: #4e9d84;
  color: #fff;
}
