.code-editor {
  display: flex;
  flex-direction: column;
  /* Ensure content is centered vertically */
  width: 800px;
  height: 500px;
  background-color: #072e33; /* dark teal background */
}

.editor {
  width: 90%;
  height: 75vh;
  margin-top: 20px; /* Add some margin for better spacing */
}

.suggestions {
  margin-top: 20px;
}

.suggestions ul {
  list-style-type: none;
  padding: 0;
}

.suggestions li {
  background: #1e1e1e;
  color: #d4d4d4;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}
