.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .btn {
    padding: 8px 18px;
    background-color: #8FD6B3;
    color: #204E45;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #4E9D84 !important;
  }
  
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: #2e4a43;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
    color: #fff;
  }
  
  .popup-content .btn {
    margin-top: 20px;
    background-color: #8FD6B3;
    color: #204E45;
    border-radius: 8px;
  }
  
  .popup-content .btn:hover {
    background-color: #4E9D84 !important;
  }
  