/* Container for main content */
.maincont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}

/* Paper component styles */
.login-paper {
  padding: 2rem;
  max-width: 22vw;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background-color: #376058 !important;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Title Styles */
.login-title {
  color: #8FD6B3;
}

/* Input label styles */
.input-label {
  color: #8FD6B3 !important;
}

/* Input text styles */
.input-text {
  color: #fff !important;
}

/* Input underline styles */
.MuiInput-underline:before {
  border-bottom-color: #4E9D84 !important;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom-color: #8FD6B3 !important;
}

.MuiInput-underline:after {
  border-bottom-color: #8FD6B3 !important;
}

/* Button styles */
.login-button {
  color: #204E45 !important;
  background-color: #8FD6B3 !important;
  margin-top: 1rem !important;
}

.login-button:hover {
  background-color: #4E9D84 !important;
}

/* Link styles */
.signup-link,
.login-link {
  color: #8FD6B3;
  margin-top: 1rem;
}

.signup-link a,
.login-link a {
  color: #8FD6B3;
  text-decoration: none;
}

.signup-link a:hover,
.login-link a:hover {
  text-decoration: underline;
}

/* Chat list container */
.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #204E45;
  color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

/* Chat item styles */
.chatItem {
  padding: 1rem;
  margin: 0.5rem 0;
  width: 100%;
  cursor: pointer;
  background-color: #376058;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.chatItem:hover {
  background-color: #4E9D84;
}

.chatInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatPreview {
  color: #8FD6B3;
}

/* Chat styles */
.chat-container {
  background-color: #204E45;
  color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.chat-title {
  color: #8FD6B3;
}

.messages-container {
  max-height: 60vh;
  overflow-y: auto;
  margin-top: 1rem;
}

.message {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 10px;
}

.own-message {
  background-color: #376058;
  align-self: flex-end;
}

.other-message {
  background-color: #4E9D84;
  align-self: flex-start;
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.message-input {
  flex: 1;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  margin-right: 1rem;
  background-color: #376058;
  color: #fff;
}

.send-button {
  padding: 0.5rem 1rem;
  background-color: #8FD6B3;
  border: none;
  border-radius: 10px;
  color: #204E45;
  cursor: pointer;
}

.send-button:hover {
  background-color: #4E9D84;
}