

.login-paper {
  padding: 2rem;
  max-width: 22vw;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background-color: #376058 !important;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.login-title {
  color: #8fd6b3;
}

.input-label {
  color: #8fd6b3 !important;
}

.input-text {
  color: #fff !important;
}

.MuiInput-underline:before {
  border-bottom-color: #4e9d84 !important;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom-color: #8fd6b3 !important;
}

.MuiInput-underline:after {
  border-bottom-color: #8fd6b3 !important;
}

.login-button {
  color: #204e45 !important;
  background-color: #8fd6b3 !important;
  margin-top: 1rem !important;
}

.login-button:hover {
  background-color: #4e9d84 !important;
}
